#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.App {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: start;
	width: 520px;
	min-height: 600px;
	background: #161a2b;
	text-align: center;
	margin: 128px auto;
	border-radius: 10px;
	padding-bottom: 32px;
}

h1 {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

h2 {
	font-size: 3.2em;
	color: rgba(255, 255, 255, 0.85);
}

ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 0;
	margin: 1rem;
}

li {
	height: 2.5rem;
	padding: 0 0.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 5px;
	color: rgba(255, 255, 255, 0.85);
}

li:nth-child(4n) {
	background: linear-gradient(90deg, rgba(255, 118, 20, 1) 0%, rgba(255, 84, 17, 1) 100%);
}

li:nth-child(4n + 1) {
	background: linear-gradient(90deg, rgba(93, 12, 255, 1) 0%, rgba(155, 0, 250, 1) 100%);
}
li:nth-child(4n + 2) {
	background: linear-gradient(90deg, rgba(255, 12, 241, 1) 0%, rgba(250, 0, 135, 1) 100%);
}

li:nth-child(4n + 3) {
	background: linear-gradient(90deg, rgba(20, 159, 255, 1) 0%, rgba(17, 122, 255, 1) 100%);
}

form {
	color: rgba(255, 255, 255, 0.85);
}

input {
	padding: 14px 32px 14px 16px;
	border-radius: 4px 0 0 4px;
	border: 2px solid #5d0cff;
	outline: none;
	width: 320px;
	background: transparent;
	color: rgba(255, 255, 255, 0.85);
}

.form__input {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

label {
	color: #5d0cff;
}

input::placeholder {
	color: #e2e2e2;
	font-weight: bold;
}
