#root {
	display: flex;
	place-items: center;
	justify-content: center;
	min-height: 100vh;
	background: linear-gradient(90deg, rgba(48, 16, 255, 1) 0%, rgba(100, 115, 255, 1) 100vh);
}

.App {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: start;
	height: calc(100vh - 25vh);
	min-width: 320px;
	width: calc(100vw - 50vw);
	margin: 0 0.5rem;
	background: #161a2b;
	text-align: center;
	border-radius: 10px;
	overflow-x: hidden;
	overflow-y: auto;
}

.counter {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

form {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	color: rgba(255, 255, 255, 0.85);
}

.form__title {
	font-size: clamp(2rem, 3vw, 3.2rem);
	font-weight: bold;
	margin-block-start: 0.83em;
	margin-block-end: 0.83em;
	color: rgba(255, 255, 255, 0.85);
}

.form__input {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	min-width: 240px;
	width: calc(100% - 25vw);
	padding: 14px 32px 14px 16px;
	border-radius: 4px 0 0 4px;
	border: 2px solid #5d0cff;
	outline: none;
	background: transparent;
	color: rgba(255, 255, 255, 0.85);
}

input::placeholder {
	color: rgba(255, 255, 255, 0.85);
	font-weight: bold;
}

.form__input_container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.todo__list {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	padding: 0;
	margin: 1rem;
}

.todo__list__item {
	height: 2.5rem;
	padding: 0 0.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: calc(100% - 15vw);
	border-radius: 5px;
	color: rgba(255, 255, 255, 0.85);
}

li:nth-child(4n) {
	background: linear-gradient(90deg, rgba(255, 118, 20, 1) 0%, rgba(255, 84, 17, 1) 100%);
}

li:nth-child(4n + 1) {
	background: linear-gradient(90deg, rgba(93, 12, 255, 1) 0%, rgba(155, 0, 250, 1) 100%);
}
li:nth-child(4n + 2) {
	background: linear-gradient(90deg, rgba(255, 12, 241, 1) 0%, rgba(250, 0, 135, 1) 100%);
}

li:nth-child(4n + 3) {
	background: linear-gradient(90deg, rgba(20, 159, 255, 1) 0%, rgba(17, 122, 255, 1) 100%);
}

.todo__description::first-letter {
	text-transform: uppercase;
}
